#header.clearfix
  .wade
    hgroup
      h1
        <a href="">myGengohub</a>
      h2 日本語でGitHubのREADMEファイルが読めるサイト
    nav
      ul
        <a href="" title="">翻訳を依頼する</a>


<div id="body" class="wide clearfix">
<h2>最新の翻訳されたREADME</h2>
<div class="repositries">
<ul class="clearfix">

<li class="repositry clearfix">
<header class="language"><a href="">Ruby</a></header>
<h3 class="repositry_name"><a href="">ああああああああああああああああああああああ</a></h3>
<div class="data clearfix">
<p class="author">
<span class="icon"><a href="" target="_blank"><img src="https://secure.gravatar.com/avatar/ed9635566b34ade32274f510f0f9a6d2?s=140&amp;d=https://d3nwyuy0nl342s.cloudfront.net%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="" width="48" height="48"></a></span>
<span class="name"><a href="" target="_blank">dhh</a></span>
</p>
<div class="date">2011年11月31日</div>
</div>
</li>

<li class="repositry clearfix">
<header class="language"><a href="">Ruby</a></header>
<h3 class="repositry_name"><a href="">ああああああああああああああああああああああ</a></h3>
<div class="data clearfix">
<p class="author">
<span class="icon"><a href="" target="_blank"><img src="https://secure.gravatar.com/avatar/ed9635566b34ade32274f510f0f9a6d2?s=140&amp;d=https://d3nwyuy0nl342s.cloudfront.net%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="" width="48" height="48"></a></span>
<span class="name"><a href="" target="_blank">dhh</a></span>
</p>
<div class="date">2011年11月31日</div>
</div>
</li>

<li class="repositry clearfix">
<header class="language"><a href="">Ruby</a></header>
<h3 class="repositry_name"><a href="">ああああああああああああああああああああああ</a></h3>
<div class="data clearfix">
<p class="author">
<span class="icon"><a href="" target="_blank"><img src="https://secure.gravatar.com/avatar/ed9635566b34ade32274f510f0f9a6d2?s=140&amp;d=https://d3nwyuy0nl342s.cloudfront.net%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="" width="48" height="48"></a></span>
<span class="name"><a href="" target="_blank">dhh</a></span>
</p>
<div class="date">2011年11月31日</div>
</div>
</li>

</div>
</div>

#footer
  p.copy ああああ