!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(type='text/javascript')
      google.load("jquery", "1.6.1");
    script(type='text/javascript', src='/javascripts/myGengohub.js')
  body!= body
  #header.clearfix
    .wade
      hgroup
        h1
          <a href="">myGengohub</a>
        h2 日本語でGitHubのREADMEファイルが読めるサイト
      nav
        ul
          <a href="" title="">翻訳を依頼する</a>
  #footer
  p.copyああああ