!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(type='text/javascript')
      google.load("jquery", "1.6.1");
    script(type='text/javascript', src='/javascripts/myGengohub.js')
  body!= body